<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicons/apple-touch-icon.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicons/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicons/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicons/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "/assets/favicons/site.webmanifest" | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/favicons/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="google-site-verification" content="1pfjzwnTsYJHom5-ZVcopsS9a0j6ynVmY1NEB1ojvNo" />
<meta name="yandex-verification" content="043d10bd78a9ab9a" />
<meta name="msvalidate.01" content="4911C8B76D82E3706A1322259D87D2BD" />